@import "variables";

.switch-languages {
  background-color: transparent;
}
.d-flex {
  display: flex;
}
.align-center {
  align-content: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-1-1 {
  flex: 1 1 auto;
}
