$primary-color: #0074A3;
$success-color: #36906B;
$danger-color: #EB075E;
$danger: #EB075E;

$default-text-color: rgba(0, 0, 0, 0.54);

$roboto-font-family: "Poppins", "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif !default;

$color-black-86: rgba(0,0,0,.86);
$color-light-grey: #DADADA;
$color-white-54: rgba(255, 255, 255, 0.54);
