@media screen and (-webkit-min-device-pixel-ratio:0) { 
    property: value;

.input-login {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    margin-right: -100px;
    margin-left: -20px;
    transition: 0.3s;

}
.sign-up {
    margin: 100px 0 0;
    font-size: 12px;
    text-align: center;
}

a {
    color: rgb(173, 175, 182);
}


label {
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000222;
    transition: 0.3s;

}


h3 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #000222;
    margin: 10px 0;
}
h5 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #000222;
    margin: 5px 0;
}
}
