@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    property: value;

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;


}
html,

h3 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #000000;
    margin: 20px 0;
}
.button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #000000;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
}
label {
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000000;
    transition: 0.3s;

}
.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 50px 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border: 1px solid #000000;
    transition: 0.3s;}

input {
    outline: 0;
    padding: 10px 100px 10px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    border: 1px solid #000000;
}
.popup-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
}

