
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color:#0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.body {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
  font-family: "Fira Code", "SF Mono", "Consolas", "Segoe UI", "Roboto", "-apple-system",
  "Helvetica Neue", sans-serif;
  font-size: 0.94em;
  -webkit-user-select: none;
}

