@import "src/styles/variables";

@import "styles/mui-override";
@import "styles/custom";

body {
  font-family: $roboto-font-family;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: default;
    font-size: 0.94em;
    -webkit-user-select: none;

}


